{% load otree %}

<style type="text/css">
    .orden p{font-family:Arial, sans-serif;font-size:14px;align:justify;}
</style>


<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instrucciones del juego
    </h3>


    <h5><u>Rol:</u></h5>
    <p class="orden">
        En este juego usted tomará el rol de una <b>compañía productora de electricidad</b>. Usted hace parte de un
        mercado eléctrico compuesto por <b>cinco participantes</b>, pero usted no sabe quiénes son los <b>otros cuatro
        jugadores</b> que hacen parte de su <b>mercado</b>, ni cómo operan ellos de forma individual.
    </p>

   <br>

    <h5><u>Objetivo:</u></h5>
    <p class="orden">
        Cada año usted tendrá que tomar decisiones de <b>Inversión [unidades/año]</b> en nuevas plantas, con el <b>objetivo de
        maximizar</b> la <b>Utilidad Acumulada [$]</b> durante todo el experimento.
    </p>

    <br>

    <h5><u>Utilidades:</u></h5>
    <p class="orden">
        La <b>Utilidad Anual [$]</b> puede ser positiva o negativa y se calcula de la siguiente manera:
    </p>
    <p align="center">
        <b>Utilidad Anual = Margen de utilidad * Capacidad Instalada Total</b>
    </p>
    <p class="orden">
        Por otro lado, la <b>Utilidad Acumulada [$]</b> es la suma de las <b>Utilidades Anuales</b> durante todo el juego
        por lo que pueden ser negativas (perdida) o positivas (ganancia):
    </p>
    <p align="center">
        <b>Utilidad Acumulada = Utilidad Año 1 + Utilidad Año 2 + … + Utilidad Año 70</b>
    </p>

    <br>

    <h5><u>Capacidad en Construcción:</u></h5>
    <p class="orden">
        Su <b>Capacidad en Construcción Total [unidades]</b> depende de las decisiones de <b>Inversión</b> que usted tomó en años
        anteriores, ya que cada planta tiene un <b>tiempo de construcción</b> de <b>4 años</b>. Es decir, desde el momento en que
        usted decide <b>Invertir</b> en la construcción de una nueva planta y el momento en que esta empieza a producir pasan
        <b>4 años</b>, tiempo después del cual su <b>Capacidad en Construcción</b> pasa a ser <b>Capacidad Instalada</b>.
    </p>

    <br>

    <h5><u>Capacidad Instalada:</u></h5>
    <p class="orden">
        Su <b>Capacidad Instalada Total [unidades]</b> actual entonces equivale al número de plantas que están produciendo
        electricidad en el momento, las cuales tienen un <b>tiempo de vida útil</b> de <b>16 años</b>. Es decir, cada planta produce
        energía durante 16 años y luego sale del sistema. Esta <b>Capacidad Instalada Total [unidades]</b> no puede ser
        negativa, por lo que lo mínimo que usted puede invertir es <b>0 [unidades]</b>. Además, el valor <b>máximo</b> de su
        Capacidad Instalada Total es <b>20 [unidades]</b>.
    </p>
    <p class="orden">
        La <b>Capacidad Instalada del Mercado [unidades]</b> es igual a la suma de las <b>Capacidades Instaladas Totales</b> de
        cada jugador así:
    </p>
    <p align="center">
        <b>Capacidad Instalada del Mercado = Capacidad Instalada Total Jugador 1 + Capacidad Instalada Total Jugador 2 +
            Capacidad Instalada Total Jugador 3 + Capacidad Instalada Total Jugador 4 + Capacidad Instalada Jugador 5</b>
    </p>

    <br>

    <h5><u>Margen de Utilidad:</u></h5>
    <p class="orden">
        El <b>Margen de Utilidad [$/unidad]</b> es igual a:
    </p>
    <p align="center">
        <b>Margen de utilidad = (Precio – Costo)</b>
    </p>
    <p class="orden">
        El <b>Costo</b> es constante y siempre es igual a <b>1 [$/unidad]</b>.
    </p>

    <br>

    <h5><u>Precio:</u></h5>
    <p class="orden">
        Por otro lado, el <b>Precio [$/unidad]</b> del mercado depende de la <b>Capacidad Instalada del Mercado</b> como se muestra
        en la siguiente gráfica. Esta gráfica muestra una relación de proporcionalidad inversa entre el <b>Precio</b> y la
        <b>Capacidad Instalada del Mercado</b>. Esto significa que a mayor <b>Capacidad Instalada del Mercado</b> menor es el <b>Precio</b>,
        y que ha menor <b>Capacidad Instalada del Mercado</b> mayor el <b>Precio</b>.
    </p>

    <br>

    <img src="https://github.com/sebastbernal/ExperimentosMercadosElectricos/blob/master/Documentaci%C3%B3n/Precio_vs._Capacidad_Instalada_Mercado.png?raw=true" align="middle" title="Precio Vs Capacidad Instalada Total del Mercado" width="650" height="400" style="
    padding-top: 0px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    ">

    <br>

    <h5><u>Condiciones Iniciales:</u></h5>
    <p class="orden">
        El total de las cinco compañías productoras de electricidad inician con las mismas condiciones. Durante todos
        los años anteriores, cada firma ha invertido <b>0.6875 [unidades/año]</b>, que es igual al resultado de dividir <b>11
        unidades</b>  en el <b>tiempo de vida útil</b> de cada planta <b>(16 años)</b>. Por esta razón, las condiciones iniciales para
        cada variable son las siguientes:
    </p>

    <p><b>Capacidad en Construcción Año i = 0.6875 [unidades/año]</b></p>
    <p><b>Capacidad en Construcción Total = 2.75 [unidades]</b></p>
    <p><b>Capacidad Instalada Año i = 0.6875 [unidades/año]</b></p>
    <p><b>Capacidad Instalada Total = 11 [unidades]</b></p>
    <p><b>Capacidad Instalada del Mercado = 55 [unidades]</b></p>
    <p><b>Precio = 0.5 [$/unidad]</b></p>
    <p><b>Costo = 1 [$/unidad]</b></p>
    <p><b>Margen de Utilidad = -0.5 [$/unidad]</b></p>
    <p><b>Utilidad Anual = -5.5 [$]</b></p>
    <p><b>Utilidad Acumulada = 0 [$]</b></p>

    <br>


</div>
</div>







