{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Bienvenido al experimento.
{% endblock %}

{% block content %}
<p align="justify">
     Bienvenido, usted va a participar en un juego de toma de decisiones que llamaremos experimento. Al final de esta sesión usted recibirá un pago en efectivo por su participación; todos los jugadores podrán recibir pagos diferentes, ya que el pago final dependerá de las decisiones que tome y del desempeño del jugador durante el juego.
</p>
<br>
<p align="justify">
     Usted participará en este juego a través del computador en que está sentado, es importante que usted no hable y no se comunique con otros participantes durante el experimento. Igualmente, está prohibido el uso de celulares u otro dispositivo electrónico durante todo el tiempo que dure esta sesión. Si usted incumple alguna de estas reglas se le pedirá que abandone el juego y no recibirá pago alguno.
</p>
<br>
<p align="justify">
     La sesión se realizará en las siguientes partes: (1) Aceptación del consentimiento informado, (2) Lectura de instrucciones, (3) Experimento, (4) Liquidación y pago. El monitor indicará cuando empieza y cuando termina cada parte, y hará las aclaraciones necesarias. Por favor preste mucha atención y levante la mano si tiene alguna inquietud o inconveniente; el monitor se acercará y le resolverá las dudas.
</p>
<br>
    {% next_button %}

{% endblock %}
